<h1>Editing Participante Videoconferencium</h1>

<%= render 'form', participante_videoconferencium: @participante_videoconferencium %>

<%= link_to 'Show', @participante_videoconferencium %> |
<%= link_to 'Back', participante_videoconferencia_path %>
