<h1>Editing Registro Videoconferencium</h1>

<%= render 'form', registro_videoconferencium: @registro_videoconferencium %>

<%= link_to 'Show', @registro_videoconferencium %> |
<%= link_to 'Back', registro_videoconferencia_path %>
