<form *ngIf ="display" [formGroup]="contacto" >
    <div class="form-group">
            <label for="estado"> Estado de finalizacion</label>
            <select  formControlName="estado">
                  <option  *ngFor="let obj of estados" [ngValue]="obj.id">{{ obj.estado }}</option>		    
            </select>
    
            <div  class="form-group">
                    <button  class="btn btn-primary" (click)='finalizarVideoconferencia()'>finalizar</button>
            </div>
    </div>
</form>