<p id="notice"><%= notice %></p>

<p>
  <strong>Estado:</strong>
  <%= @estado_videoconferencium.estado %>
</p>

<%= link_to 'Edit', edit_estado_videoconferencium_path(@estado_videoconferencium) %> |
<%= link_to 'Back', estado_videoconferencia_path %>
