<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @tipo_participante.tipo %>
</p>

<%= link_to 'Edit', edit_tipo_participante_path(@tipo_participante) %> |
<%= link_to 'Back', tipo_participantes_path %>
