<h1>Editing Tipo Videoconferencium</h1>

<%= render 'form', tipo_videoconferencium: @tipo_videoconferencium %>

<%= link_to 'Show', @tipo_videoconferencium %> |
<%= link_to 'Back', tipo_videoconferencia_path %>
