<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @tipo_videoconferencium.tipo %>
</p>

<%= link_to 'Edit', edit_tipo_videoconferencium_path(@tipo_videoconferencium) %> |
<%= link_to 'Back', tipo_videoconferencia_path %>
