<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Se cancelo la siguiente videoconferencia </h1>  
    <p>Fecha: <%= @videoconferencium.fecha %></p><br>
    <p>Hora: <%= @videoconferencium.hora %></p><br>
    <p>Unidad: <%= @videoconferencium.unidad %></p><br>
    <p>Numero de causa: <%= @videoconferencium.nro_causa %></p><br>
  </body>
</html>