<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>finalizo la siguiente videoconferencia </h1>  
    <p>Estado: <%= @estado %></p><br>
    <p>Unidad: <%= @videoconferencium.unidad %></p><br>
    <p>Numero de causa: <%= @videoconferencium.nro_causa %></p><br>
  </body>
</html>